<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<!-- Gemini API endpoint -->
		<add key="AI_API_ENDPOINT" value="https://generativelanguage.googleapis.com/v1beta/models/" />

		<!-- Gemini model -->
		<add key="AI_MODEL" value="gemini-2.0-flash" />

		<!-- Do NOT put your real API key here yet -->
		<add key="AI_API_KEY" value="YOUR_API_KEY_HERE" />
	</appSettings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>